#game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: auto;  
    margin-right: auto;
    width: fit-content; 
}

#game img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}