#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

#title{
	color:blue;
	text-align: center;
}

body{
	background-color: lightblue;
}

button{
	background-color: violet;
	border-radius: 8%;
}

button:hover{
	background-color: purple;
	color: white;
}

button.center:active {
	background-color: red;
	transform: scale(0.95);
}


#game {
    display: flex !important;    
    justify-content: center;      
    flex-wrap: wrap;             
    margin: 20px auto;       
    max-width: 95%;             
}

#game img {
    width: 100px;                
    height: 140px;
}