body{
	background-color: black;
}
button{
	color: blue;
	background-color: white;
}
button:hover{
	background-color: gray;
	color: red;
}
button:active{
	background-color: green;
	color: white;
}

#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

#title{
	color:red;
	text-align: center;
}